<div class="banner-home">
  <div class="banner-home-video">
    <video loop muted autoplay poster="https://storage.googleapis.com/coverr-public/poster/Home_Work.jpg">

      <source type="video/mp4" src="https://staging.coverr.co/s3/mp4/Home_Work.mp4">
      <source type="video/webm" src="https://staging.coverr.co/s3/webm/Home_Work.webm">
    </video>
  </div>

  <div class="banner-home-content d-flex flex-column justify-content-center align-items-center text-center">
    <img src="assets/logo.png" alt="" class="home-logo">
    <!-- <h4>No Boost temos como missão levar os melhores explicadores a tua casa!</h4> -->
    <div class="banner-home-buttons">
      <%= link_to 'O QUE É O BOOST?', about_path, class: 'btn btn-light' %>
      <%= link_to 'COMEÇA AGORA', pedido_path, class: 'btn btn-orange' %>
    </div>
  </div>
</div>
