<div class="subject-card">
  <div class="text-center" style="margin-bottom: 7px;">
    <h3 class="strokeme"><strong> <%= study.subject.name %></strong></h3>
  </div>
  <%= link_to '', study_path(study), class: 'subject-card-link' %>
</div>
