<div class="footer col-sm-12">
  <div class="footer-links col-sm-4">
    Boost® Avenida Infante Santo, 48 - Lisbon, Portugal
  </div>
  <div class="col-sm-1"></div>
  <div class="footer-static-pages col-sm-2">
    <%= link_to "Log in", new_user_session_path %>
   </div>
  <div class="footer-static-pages col-sm-3">
    <p>geral@boostyourstudy.com</p>
  </div>

  <div class="footer-static-pages col-sm-2">
    <button class="btn-treehouse">
    <%= link_to "Recrutamento", new_user_session_path %>
    </button>
  </div>
</div>
