<section class="section-typed d-flex justify-content-center align-items-center text-center">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1 col-md-8 offset-md-2">
        <p>
          Precisas de um <strong>BOOST</strong> a <span id="section-typed-text"></span>? Inscreve-te jรก!
        </p>
      </div>
    </div>
  </div>
</section>
