<h1>pagina onde vão estar os explicadores</h1>
<p>só tens que chamar a variavel @explicadores e percorrer o array de explicadores desta area_disciplina</p>

<div style="background-image: url('assets/grey_background.png'); margin-bottom: 40px;">
  <div class="row">
    <div class="col-sm-6" style="padding-left: 0 !important">
      <div class="cartao" style="margin-bottom: 40px;">
        <div class="disciplina-titulo text-center" style="line-height: 1.7;">
          <strong>Portugues</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width: 100%; height:100%; margin-right: auto; margin-left: auto; display: flex; justify-content: space-around;">
          <div class="col-sm-4" style="float:left;">
            <%= cl_image_tag "joana_sousa_mendes", class:"avatar-team" %>
            <div class="nome-teacher text-center"><strong>Joana Sousa Mendes | 24</strong></div>
          </div>
          <div class="col-sm-8" style="float:right;">
            <div class="teacher-description text-center">
             Founder & CEO do Boost Your Study <br> Licenciada em Direito pela Faculdade de Direito da Universidade de Lisboa <br> Áreas: Português, História e Direito; apoio a alunos com PEI (dislexia, défice de atenção e outros)
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="width: 100%; height:100%; margin-right: auto; margin-left: auto;">
          <%= cl_image_tag "joana_sousa_mendes", class:"avatar-team" %>
          <div class="nome-teacher text-center"><strong>Joana Sousa Mendes | 24</strong></div>
          <div class="teacher-description text-center">
           Founder & CEO do Boost Your Study <br> Licenciada em Direito pela Faculdade de Direito da Universidade de Lisboa <br> Áreas: Português, História e Direito; apoio a alunos com PEI (dislexia, défice de atenção e outros)
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







