<div class="container">
  <div class="row">

    <p class="text-center">

      <strong class="subtitle">Quem somos?</strong>
      <br>
      Uma equipa de explicadores, entre os 18 e 29 anos.
      <br>
      <strong class="subtitle">Porque é que nasceu o Boost?</strong>
      <br>
      Enquanto estudantes, reparámos que o modelo de explicações tradicional nem sempre é o mais indicado para todos os alunos.
      <br>
      As explicações acabam, muitas vezes, por se tornar um sacrifício para o aluno, dificultando o seu desenvolvimento e resultados na escola.
      <br>
      <strong class="subtitle">Qual é a nossa missão?</strong>
      <br>
      A nossa missão é levar os melhores explicadores a casa dos alunos.
      <br>
      Para nós, é importante garantir um acompanhamento à medida de cada um dos nossos alunos.
      <br>
      <strong class="subtitle">Como é que o fazemos?</strong>
      <br>
      No Boost acreditamos que, ao encurtar a distância de idades entre os alunos e os explicadores, garantimos uma relação de maior proximidade, que desafia os nossos alunos a descobrirem o seu potencial.
      <br>
      O nosso papel é orientar as explicações para a autonomia dos alunos e motivá-los no seu progresso académico.
    </p>

  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <img src="assets/logo.png" alt="Boost" style=" width: 50%; height: 50%; margin-bottom: 20px;">
  </div>
</div>
