<div style="background-image: url('assets/grey_background.png');" >
    <div class="row" >
      <div class="col-xs-12 col-sm-4">
        <div class="card-about" <%= cl_image_tag 'background' %> >
          <img class="icon-about-page" src="assets/icon_quemsomos.png" alt="">
          <div class="card-category text-center" style="margin-top: 40px;"><strong>Quem somos?</strong></div>
          <div class="card-description-modalidades text-center" style="width: 70%; margin-right: auto; margin-left: auto; margin-top: 30px;">Somos uma equipa de explicadores que se destacaram nas suas áreas de estudo. <br> O que nos diferencia? Temos todos entre 18 e 29 anos! <br> No Boost acreditamos que, ao encurtar a distância de idades entre os alunos e os explicadores, garantimos uma relação de maior proximidade, que desafia os nossos alunos a descobrirem o seu potencial.</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card-about" style="background-image: url('assets/grey_background.png');">
          <img class="icon-about-page" src="assets/icon_porquenasceu.png" alt="">
          <div class="card-category text-center" style="margin-top: 40px;"><strong>Porque nasceu o Boost?</strong></div>
          <div class="card-description-modalidades text-center" style="width: 70%; margin-right: auto; margin-left: auto; margin-top: 30px;">Enquanto estudantes, reparámos que o modelo de explicações tradicional nem sempre é o mais indicado para todos os alunos. <br> As explicações acabam, muitas vezes, por se tornar um sacrifício para o aluno, dificultando o seu desenvolvimento e resultados na escola.</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card-about" style="background-image: url('assets/grey_background.png');">
          <img class="icon-about-page" src="assets/icon_missao.png" alt="">
          <div class="card-category text-center" style="margin-top: 40px;"><strong>Qual é a nossa missão?</strong></div>
          <div class="card-description-modalidades text-center" style="width: 70%; margin-right: auto; margin-left: auto; margin-top: 30px;">A nossa missão é levar os melhores explicadores a casa dos alunos. <br> Para nós, é importante garantir um acompanhamento à medida de cada um dos nossos alunos. <br> O nosso papel é orientar as explicações para a autonomia dos alunos e motivá-los no seu progresso académico.</div>
        </div>
      </div>

    </div>

</div>




















<!-- <div class="container">
  <div class="row justify-content-center">
    <img src="assets/stack.png" alt="Boost" style=" width: 20%; height: 20%; margin-bottom: 20px; margin-top: 25px;">
  </div>
</div>
<div class="container">
  <div class="row">

    <p class="text-center" style="margin-right: 200px; margin-left: 200px;">

      <strong class="subtitle">Quem somos?</strong>
      <br>

      Uma equipa de explicadores, entre os 18 e 29 anos.
      <br>
      <strong class="subtitle">Porque é que nasceu o Boost?</strong>
      <br>
      Enquanto estudantes, reparámos que o modelo de explicações tradicional nem sempre é o mais indicado para todos os alunos.
      <br>
      As explicações acabam, muitas vezes, por se tornar um sacrifício para o aluno, dificultando o seu desenvolvimento e resultados na escola.
      <br>
      <strong class="subtitle">Qual é a nossa missão?</strong>
      <br>
      A nossa missão é levar os melhores explicadores a casa dos alunos.
      <br>
      Para nós, é importante garantir um acompanhamento à medida de cada um dos nossos alunos.
      <br>
      <strong class="subtitle">Como é que o fazemos?</strong>
      <br>
      No Boost acreditamos que, ao encurtar a distância de idades entre os alunos e os explicadores, garantimos uma relação de maior proximidade, que desafia os nossos alunos a descobrirem o seu potencial.
      <br>
      O nosso papel é orientar as explicações para a autonomia dos alunos e motivá-los no seu progresso académico.
    </p>

  </div>
</div>
-->
