<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="tab" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Primário</a></li>
          <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Básico</a></li>
          <li role="presentation"><a href="#Section3" aria-controls="profile" role="tab" data-toggle="tab">Secundário</a></li>
<!--           <li role="presentation"><a href="#Section4" aria-controls="profile" role="tab" data-toggle="tab">Superior</a></li> -->
        </ul>

        </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
