<div class="container">
  <div class="row">
    <p class="text-center" style="margin-right: auto; margin-left: auto; margin-top: 40px;">
      <strong class="subtitle team-title">Primária</strong>
    </p>
  </div>
  <hr style="margin-top: 40px; margin-bottom: 40px;">
  <div class="row">
    <br>
    <div class="col-xs-12 col-sm-3">
      <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_matematica.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Matemática</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
       <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_portugues.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Português</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
       <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ciencias.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Estudo do Meio</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ingles.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Inglês</strong></div>
      </div>
    </div>
  </div>
  <div class="row">
    <br>
  </div>
  <hr style="margin-top: -20px; margin-bottom: -3px;">
  <div class="row">
    <p class="text-center" style="margin-right: auto; margin-left: auto; margin-top: 40px;">
      <strong class="subtitle team-title">Básico</strong>
    </p>
  </div>
  <hr style="margin-top: 40px; margin-bottom: 50px;">
  <div class="row">
    <br>
    <div class="col-xs-12 col-sm-4">
       <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_portugues.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Português</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_matematica.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Matemática</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
       <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ciencias.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Ciências</strong></div>
      </div>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-xs-12 col-sm-4">
      <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ingles.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Físico-Química</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_historia.png" alt="">
        </div>
        <div class="card-category text-center"><strong>História</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
       <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_geografia.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Geografia</strong></div>
      </div>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-xs-12 col-sm-4">
      <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ingles.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Filosofia</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ingles.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Inglês</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
       <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ingles.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Espanhol</strong></div>
      </div>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-xs-12 col-sm-4">
      <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ingles.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Francês</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_historia.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Alemão</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
       <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_geografia.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Latim</strong></div>
      </div>
    </div>
  </div>
  <hr style="margin-top: -20px; margin-bottom: -3px;">
  <div class="row">
    <p class="text-center" style="margin-right: auto; margin-left: auto; margin-top: 40px;">
      <strong class="subtitle team-title">Secundário</strong>
    </p>
  </div>
  <hr style="margin-top: 40px; margin-bottom: 50px;">
  <div class="row">
    <br>
    <div class="col-xs-12 col-sm-4">
       <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_portugues.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Português</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ingles.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Literatura Portuguesa</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
       <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_matematica.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Matemática</strong></div>
      </div>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-xs-12 col-sm-4">
      <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ingles.png" alt="">
        </div>
        <div class="card-category text-center"><strong>MACS</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ingles.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Filosofia</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
       <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ingles.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Física e Química</strong></div>
      </div>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-xs-12 col-sm-4">
      <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ciencias.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Biologia e Geologia</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ingles.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Geometria Discritiva</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
       <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ingles.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Economia</strong></div>
      </div>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-xs-12 col-sm-4">
      <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_geografia.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Geografia</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_historia.png" alt="">
        </div>
        <div class="card-category text-center"><strong>História</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
       <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ingles.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Inglês</strong></div>
      </div>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-xs-12 col-sm-4">
       <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ingles.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Espanhol</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ingles.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Francês</strong></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ingles.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Alemão</strong></div>
      </div>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-xs-12 col-sm-4">
       <div class="card-subject">
        <div class="card-subject" style=" width: 100%; height: 60%; margin-top: 0;">
          <img class="icon_subjects" src="assets/icon_ingles.png" alt="">
        </div>
        <div class="card-category text-center"><strong>Latim</strong></div>
      </div>
    </div>
  </div>
</div>
