<div class="container">
  <div class="row">
    <p class="text-center" style="margin-right: auto; margin-left: auto; margin-top: 40px">
      <strong class="team-title">já conheces a nossa equipa de boosters?</strong>
    </p>
  </div>
  <hr style="margin-top: 40px; background-color: #F37F34; border: 5px solid #F37F34 ">
  <div class="row">


    <div class="card" style="width: 100%, height:120%; margin-right: auto; margin-left: auto;">
      <img class="avatar-team" src="assets/joana.jpg" alt="">
      <div class="nome-teacher text-center"><strong>Joana Sousa Mendes | 24</strong></div>
      <div class="teacher-description text-center">
       Founder & CEO do Boost Your Study <br> Licenciada em Direito pela Faculdade de Direito da Universidade de Lisboa <br> Áreas: Português, História e Direito; apoio a alunos com PEI (dislexia, défice de atenção e outros)

     </div>
   </div>
 </div>



 <div class="row" style="margin-bottom: 50px;">
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="width: 100%, height:180%;">
      <img class="avatar-team" src="assets/manelFolhadela.jpg" alt=""">
      <div class="nome-teacher text-center"><strong>Manuel Folhadela | 22</strong></div>
      <div class="teacher-description text-center">
        <p>Licenciado em História na Faculdade de Letras da Universidade do Porto. <br>
          Mestrado em Ensino de História no 3 ciclo do ensino básico e no ensino secundário na Faculdade de Ciências Sociais e Humanas da Universidade Nova em Lisboa. <br>
          Áreas: História e Português
        </p>

      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="width: 100%, height:120%;">
      <img class="avatar-team" src="assets/francisca_cunha_reis.jpg" alt="">
      <div class="nome-teacher text-center"><strong>Francisca Cunha Reis | 24</strong></div>
      <div class="teacher-description text-center">
       Founder & CEO do Boost Your Study <br> Licenciada em Direito pela Faculdade de Direito da Universidade de Lisboa <br> Áreas: Português, História e Direito; apoio a alunos com PEI (dislexia, défice de atenção e outros)

     </div>
   </div>
 </div>

 <div class="col-xs-12 col-sm-4">
  <div class="card" style="width: 100%, height:120%;">
    <img class="avatar-team" src="assets/joana.jpg" alt="">
    <div class="nome-teacher text-center"><strong>Joana Sousa Mendes | 24</strong></div>
    <div class="teacher-description text-center">
     Founder & CEO do Boost Your Study <br> Licenciada em Direito pela Faculdade de Direito da Universidade de Lisboa <br> Áreas: Português, História e Direito; apoio a alunos com PEI (dislexia, défice de atenção e outros)

   </div>
 </div>
</div>

</div>
</div>
