<div class="container">
  <div class="row">

    <p class="text-center" style="margin-right: auto; margin-left: auto;">

      <strong class="subtitle team-title">jรก conhece a nossa equipa de boosters?</strong>
      <hr>

    </p>

  </div>
</div>
