<div class="container">
  <div class="row">
    <p class="text-center" style="margin-right: auto; margin-left: auto; margin-top: 40px">
      <strong class="team-title">já conhece a nossa equipa de boosters?</strong>
    </p>
  </div>
  <hr style="margin-top: 40px; background-color: #F37F34; border: 5px solid #F37F34 ">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="width: 100%, height:120%;">
        <img class="avatar-team" src="assets/joana.jpg" alt="">
        <div class="nome-teacher text-center"><strong>Joana Sousa Mendes | 24</strong></div>
        <div class="teacher-description text-center">
           Founder & CEO do Boost Your Study <br> Licenciada em Direito pela Faculdade de Direito da Universidade de Lisboa <br> Áreas: Português, História e Direito; apoio a alunos com PEI (dislexia, défice de atenção e outros)

        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="width: 100%, height:120%;">
        <img class="avatar-team" src="assets/joana.jpg" alt="">
        <div class="nome-teacher text-center"><strong>Joana Sousa Mendes | 24</strong></div>
        <div class="teacher-description text-center">
           Founder & CEO do Boost Your Study <br> Licenciada em Direito pela Faculdade de Direito da Universidade de Lisboa <br> Áreas: Português, História e Direito; apoio a alunos com PEI (dislexia, défice de atenção e outros)

        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="width: 100%, height:120%;">
        <img class="avatar-team" src="assets/joana.jpg" alt="">
        <div class="nome-teacher text-center"><strong>Joana Sousa Mendes | 24</strong></div>
        <div class="teacher-description text-center">
           Founder & CEO do Boost Your Study <br> Licenciada em Direito pela Faculdade de Direito da Universidade de Lisboa <br> Áreas: Português, História e Direito; apoio a alunos com PEI (dislexia, défice de atenção e outros)

        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="width: 100%, height:120%;">
        <img class="avatar-team" src="assets/joana.jpg" alt="">
        <div class="nome-teacher text-center"><strong>Joana Sousa Mendes | 24</strong></div>
        <div class="teacher-description text-center">
           Founder & CEO do Boost Your Study <br> Licenciada em Direito pela Faculdade de Direito da Universidade de Lisboa <br> Áreas: Português, História e Direito; apoio a alunos com PEI (dislexia, défice de atenção e outros)

        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 50px;">
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="width: 100%, height:120%;">
        <img class="avatar-team" src="assets/joana.jpg" alt="">
        <div class="nome-teacher text-center"><strong>Joana Sousa Mendes | 24</strong></div>
        <div class="teacher-description text-center">
           Founder & CEO do Boost Your Study <br> Licenciada em Direito pela Faculdade de Direito da Universidade de Lisboa <br> Áreas: Português, História e Direito; apoio a alunos com PEI (dislexia, défice de atenção e outros)

        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="width: 100%, height:120%;">
        <img class="avatar-team" src="assets/joana.jpg" alt="">
        <div class="nome-teacher text-center"><strong>Joana Sousa Mendes | 24</strong></div>
        <div class="teacher-description text-center">
           Founder & CEO do Boost Your Study <br> Licenciada em Direito pela Faculdade de Direito da Universidade de Lisboa <br> Áreas: Português, História e Direito; apoio a alunos com PEI (dislexia, défice de atenção e outros)

        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="width: 100%, height:120%;">
        <img class="avatar-team" src="assets/joana.jpg" alt="">
        <div class="nome-teacher text-center"><strong>Joana Sousa Mendes | 24</strong></div>
        <div class="teacher-description text-center">
           Founder & CEO do Boost Your Study <br> Licenciada em Direito pela Faculdade de Direito da Universidade de Lisboa <br> Áreas: Português, História e Direito; apoio a alunos com PEI (dislexia, défice de atenção e outros)

        </div>
      </div>
    </div>

  </div>
</div>
