<div class="container" style="height: 100%">

  <img src='assets/logo.png' class="avatar-large text-center" />


  <div class="presenting-text text-center">
    <a href="#" class="btn-treehouse">inscreve-te</a>
  </div>
</div>
