
<div class="container form-style">
  <div class="row">
    <p class="text-center" style="margin-right: auto; margin-left: auto; margin-top: 40px">
      <strong class="form-title">PRECISAS DE UM BOOST? INSCREVE-TE AQUI!</strong>
      <br>
      <h7 style="margin-top: 40px;">Antes de te inscreveres escolhe o teu <a href="">booster</a> e a <a href="area_path">modalidade</a> em que queres ter explicações!</h7>
    </p>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-4" style="margin-left: auto; margin-right: auto;">
      <div class="">
        <%= render 'shared/form_pedidos' %>
      </div>
    </div>
  </div>
</div>





