
<div class="container form-style">
  <div class="row">
    <p class="text-center" style="margin-right: auto; margin-left: auto; margin-top: 40px">
      <strong class="form-title">PRECISAS DE UM BOOST? INSCREVE-TE AQUI!</strong>
    </p>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-4" style="margin-left: auto; margin-right: auto;">
      <div class="">
        <%= render 'shared/form_pedidos' %>
      </div>
    </div>
  </div>
</div>





