<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="tab" role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Preço</a></li>
					<li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Modalidades</a></li>

				</ul>
				<!-- Tab panes -->
				<div class="tab-content tabs">
					<div role="tabpanel" class="tab-pane fade in active" id="Section1">

						<TABLE>
							<TR>
								<TD>Primário</TD>
								<TD>25€/h</TD>
							</TR>
							<TR>
								<TD>Básico</TD>
								<TD>25€/h</TD>
							</TR>
							<TR>
								<TD>Secundário</TD>
								<TD>27,5€/h</TD>
							</TR>
							<!-- <TR>
								<TD>Superior</TD>
								<TD>35€/h</TD>
							</TR> -->
						</TABLE>

					</div>
					<div role="tabpanel" class="tab-pane fade" id="Section2">
						<TABLE>
							<TR>
								<TD>Boost</TD>
								<TD>Explicações regulares, ao longo do ano letivo.</TD>
							</TR>
							<TR>
								<TD>Mini Boost</TD>
								<TD>Explicações especificamente dirigidas à preparação de um teste, exame ou trabalho escolar.</TD>
							</TR>
							<TR>
								<TD>Boost Intensivo</TD>
								<TD>Curso intensivo de preparação para os exames nacionais.</TD>
							</TR>
						</TABLE>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

