<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="tab" role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Preço</a></li>
					<li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Modalidades</a></li>

				</ul>
				<!-- Tab panes -->
				<div class="tab-content tabs">
					<div role="tabpanel" class="tab-pane fade in active" id="Section1">

						<TABLE>
							<TR>
								<TD>Data 1</TD>
								<TD>Data 2</TD>
								<TD>Data 2</TD>
							</TR>
							<TR>
								<TD>Data 1</TD>
								<TD>Data 2</TD>
								<TD>Data 2</TD>
							</TR>
							<TR>
								<TD>Data 1</TD>
								<TD>Data 2</TD>
								<TD>Data 2</TD>
							</TR>
						</TABLE>

					</div>
					<div role="tabpanel" class="tab-pane fade" id="Section2">
						<TABLE>
							<TR>
								<TD>Data 1</TD>
								<TD>Data 2</TD>
								<TD>Data 2</TD>
							</TR>
							<TR>
								<TD>Data 1</TD>
								<TD>Data 2</TD>
								<TD>Data 2</TD>
							</TR>
							<TR>
								<TD>Data 1</TD>
								<TD>Data 2</TD>
								<TD>Data 2</TD>
							</TR>
						</TABLE>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

