.banner-home {
  width: 100%;
  min-height: 30rem;
  position: relative;
  .banner-home-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    video {
      width: 100%;
      height: 100%;
      z-index: -100;
      -o-object-fit: cover;
      object-fit: cover;
      right: 0;
      bottom: 0;
      background-size: cover;
      overflow: hidden;
    }
  }
  .banner-home-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 2rem;
    background: linear-gradient(45deg, rgba(33, 130, 247, 0.25), rgba(7, 93, 196, 0.25));
    color: white;
    text-shadow: $shadow-text;
    box-shadow: $shadow-box;
    h1 {
      font-weight: 500;
      font-size: 3.5rem;
    }
    h4 {
      font-weight: 300;
    }
    .banner-home-buttons {
      padding-top: 2rem;
      .btn {
        font-size: 1.1rem;
        padding: 0.75rem 1.5rem;
        margin: 0 0.5rem;
        box-shadow: $shadow-box;
        text-shadow: none;
      }
      .btn-light {
        border-width: 2px;
      }
    }
  }
}

@media (max-width: 768px) {
  .banner-home {
    .banner-home-content {
      h1 {
        font-size: 3rem;
      }
      h4 {
        font-size: 1.1rem;
      }
      .banner-home-buttons {
        .btn {
          font-size: 0.9rem;
        }
      }
    }
  }
}
