.card {
  margin-right: auto;
  margin-left: auto;
  width:80%;
  margin-top: 80px;
  margin-bottom: 80px;
  height: 400px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-subject {

  margin-right: auto;
  margin-left: auto;
  width:80%;
  margin-top: 80px;
  margin-bottom: 80px;
  height: 400px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {

  position: relative;
  top: 10px;
  font-size: 30px;
  color: grey;
  text-transform: uppercase;
  font-style: none;
}
.card-description {
  color: grey;
  position: relative;
  bottom: 10px;
  }
  .card-description-modalidades {
  color: grey;
  position: relative;
  margin-top: 45px;
  margin-left: 15px;
  margin-right: 15px;
  }

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.icon_prices {
  height: 70%;
  width: 80%;
  display:block;
  margin:auto;
}
.icon_modalidades {
  height: 25%;
  width: 65%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:40px;
}
.icon_subjects {
  width: 100%;
  top: 0px;
}
