footer {
  padding: 1.5rem 3rem !important;
  box-shadow: $shadow-box;
  * {
    transition: all 150ms;
  }
  .footer-brand {
    color: $blue-dark;
    font-weight: 500;
    font-size: 1.2rem;
    &:hover, &:focus {
      color: $orange !important;
    }
  }
  .footer-item {
    padding-right: 1rem !important;
  }
  .footer-link {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.95rem;
  }
  .footer-link:hover {
    color: $orange-dark !important;
  }
  .btn {
    border-width: 2px;
    font-weight: 500;
  }
}
