.footer {
  background-color: #65C0BA;
  display: block;
  align-items: center;
  justify-content: center;
  // position: fixed !important;
  height: 110px;
  padding: 0px 50px;
  color: white;
  bottom: 0px !important;
}

.footer-links {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 50px;
}

.footer-copyright {
  position: absolute;
  bottom: 20px;
  right: 50px;
  font-weight: bolder;
  color: white;
}

.footer-static-pages {
  position: absolute;
  bottom: 50px;
  left: 50px;
  a {
  padding-right: 20px;
  font-weight: normal;
  color: white !important;
  font-weight: bolder;
   }
}


.footer-links a:hover {
  opacity: 1;
}
