.form-style {
  margin: 0 auto;
  color: $orange;

}

.form-card-content {
  .input {
    position: relative;
    width: auto;
    margin: 2rem auto;

}}

.form-title {
  position: relative;
  top: 10px;
  text-transform: uppercase;
  font-size: 35px;
  color: $orange;
}
