.navbar {
  padding: 0.75rem 1.5rem;
  justify-content: space-between;
  box-shadow: $shadow-box;
  * {
    transition: all 150ms ease-out !important;
  }
  .navbar-brand {
    color: $blue-dark;
    font-weight: 500;
    &:hover, &:focus {
      color: $orange !important;
    }
  }
  .navbar-toggler:focus {
    outline: none !important;
  }
  .navbar-collapse {
    flex-grow: 0;
  }
  .nav-item {
    padding-right: 1rem !important;
  }
  .nav-link {
    font-size: 0.95rem;
  }
  .nav-link:hover {
    color: $blue-dark !important;
  }
}
