.navbar {
  padding: 1rem 1.5rem;
  justify-content: space-between;
  .navbar-collapse {
    flex-grow: 0;
  }
  .nav-item {
    padding-right: 1rem !important;
  }
  .nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
    transition: color 0.15s ease-in-out;
  }
  .btn-outline-light {
    font-weight: bolder;
    border-width: 2px;
    &:hover {
      color: $blue;
    }
  }
}
