.section-features {
  padding: 4rem 0;
  color: white;
  box-shadow: $shadow-box;
  * {
    transition: all 150ms;
  }
  img {
    width: 5rem;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: -2px;
    text-shadow: $shadow-text;
    span {
      box-shadow: inset 0 -0.3rem $orange;
    }
  }
  p {
    text-shadow: $shadow-text;
  }
}

@media (max-width: 768px) {
  .section-features {
    .mt-5 {
      margin-top: 0 !important;
    }
  }
}
