.section-typed {
  padding: 3rem 0;
  p {
    margin: 0;
    color: $blue-dark;
    font-size: 1.65rem;
  }
  #section-typed-text {
    color: $orange;
  }
}

@media (max-width: 768px) {
  .section-typed {
    p {
      font-size: 1.4rem;
    }
  }
}
