// External libraries
@import "bootstrap";
@import "font-awesome";
@import "font-awesome-sprockets";

// Graphical variables
@import "config/colors";
@import "config/fonts";
@import "config/variables";

// CSS partials
@import "components/index";
@import "layouts/index";
@import "pages/index";

// General rules
* {
  font-family: $base-font !important;
}
.btn-primary {
  &:hover {
    background: $blue-dark !important;
    border-color: $blue-dark !important;
  }
}
.btn-light {
  background: white !important;
  color: $blue-dark !important;
  &:hover {
    border-color: $blue-dark !important;
  }
}
.btn-orange {
  background: $orange;
  &:hover {
    background: $orange-dark;
    border-color: $orange;
  }
}
.btn-outline-orange {
  color: $orange;
  background-color: transparent;
  border-color: $orange;
  &:hover {
    color: white;
    background-color: $orange;
    border-color: $orange;
  }
}

